{% extends "ProyectoWebApp/base.html" %}
{% load static %}
{% block content %}

<div class="container text-center">
    <br>
    <div class="row justify-content-md-center">
        <div class="col-md-auto col-sm-9">
            <h3 class="text-muted">
                Proveeedor
            </h3>
            <p></p>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col">
            <form method="post" class="form-group" action="">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="nombre_proveedor" ><b>Nombre</b></label>
                    <input style="text-align: center" type="text" disabled=disabled  class="form-control" id="nombre_proveedor"
                           name="nombre_proveedor"
                           placeholder="{{prove.nombre}}" maxlength="50" value="{{prove.nombre}}">
                </div>
                <div class="mb-3">
                    <label for="cif_proveedor" ><b>CIF</b></label>
                    <input style="text-align: center" type="text" disabled=disabled class="form-control" id="cif_proveedor"
                           name="cif_proveedor"
                           placeholder="{{prove.cif}}" maxlength="9" value="{{prove.cif}}">
                </div>
                <div class="mb-3">
                    <label for="correo_proveedor" ><b>Correo Electrónico</b></label>
                    <input style="text-align: center" type="email" disabled=disabled  class="form-control" id="correo_proveedor"
                           name="correo_proveedor"
                           placeholder="{{prove.correo}}" maxlength="50" value="{{prove.correo}}">
                </div>
                <div class="mb-3">
                    <label for="direccion_proveedor" ><b>Dirección</b></label>
                    <input style="text-align: center" type="text" disabled=disabled class="form-control" id="direccion_proveedor"
                           name="direccion_proveedor"
                           placeholder="{{prove.direccion}}" maxlength="100" value="{{prove.direccion}}">
                </div>
                <a href="/tienda/" class="btn btn-outline-info ">Volver</a>
                <p></p>
                {% if messages %}
                {% for mensaje in messages %}
                <span class="alert alert-{{mensaje.tags}}" style="color: black"> {{mensaje}} </span>
                {% endfor %}
                {% endif %}
            </form>
        </div>
    </div>

    {% endblock %}
